body{
  background-image: url("./images/esportbackground.jpg");
}
h1{
  color: white;
}
form{
  background-color: orange;
}
li{
  color: white;
}
h1{
  text-align: center;
  background-color: Black;
}
.btn-btn-primary{

}
